body{
	margin: 0;
	padding: 0;
	max-width: 1900px;
}
header{
	font-family: 'Ubuntu-Medium';
	font-size: 14px;
	width: 100%;
	background: #f1f4f6;
	font-weight: 500;
	position: fixed;
	width:100%;
	z-index: 999999;
}
header ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	flex-wrap: wrap;

}
header a{
	text-decoration: none;
	color: #242321;
}
header li{
	padding: 10px 20px;
}
header li:hover{
	text-decoration: underline;
}

header .active{
	border: 1px solid #4a4d4e;
	border-radius: 5px;
}
header .active:hover{
	text-decoration: none;
}
nav{
	margin: 0 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
}
.box1{
	padding: 140px 0 0 0;
	width: 100%;
	background: #f5f5f5;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	align-content: center;
	min-height: 100vh;

}
.box1 h1{
	display: none;
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 2px;
	font-family: 'GothamPro-Medium';
	max-width: 400px;
	color: #020102;
	font-weight: 500;
	margin-top: 0;
}
.one{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 80px;
}
.phone {
  width: 260px;
  height: 520px;
  background: #fff;
  border: 3px solid #dfdfdf;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
}
.on{
	height: 5px;
	background: #fff;
	border-radius: 5px;
  	border: 3px solid #dfdfdf;
  	width: 50px;
  	align-self: flex-end;
  	margin-right: 40px;
  	margin-top: -6px;
 

}
.camera{
	height: 12px;
	width: 12px;
	background: #cccccc;
	border-radius: 6px;
	align-self: center;
	margin-top: 20px;
}
.speaker{
	width: 50px;
	height: 10px;
	background: #cccccc;
	border-radius: 6px;
	align-self: center;
	margin-top: 10px;

}
.screen{
	width: 220px;
	align-self: center;
	height: 360px;
	background: #f5f5f5;
	border: 1px solid #dbdbdb;
	margin-top: 22px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.screen img{
	width: 60px;
}

.screen .sale{
	font-family: 'Ubuntu';
	text-align: center;
	font-size: 40px;
}
.screen .price{
	font-weight: 500;
	font-size: 80px;
}
.screen .proc{
	font-size: 36px;
	margin-top: 5px;

}
.screen{
	display: flex;
	justify-content: space-around;

}
.sale{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	
}
.sale .text1{
	font-size: 18px;
	font-family: 'Ubuntu-Medium';
	text-transform: uppercase;
	margin-left: -5px;
	margin-top: 60px;
}
.sale .text{
	font-size: 18px;
	font-family: 'Ubuntu-Medium';
	text-transform: uppercase;
	margin-top: -10px;
}
.text span{
	margin: 0;
}

.screen .bottom-text{
	font-size: 11px;
	font-family: 'Ubuntu';
	text-align: center;
	max-width: 200px;
}
.home{
	width: 40px;
	height: 40px;
	border-radius: 25px;
	border: 2px solid #d1d1d1;
	background: #fff;
	align-self: center;
	margin-top: 15px;
}
.platform ul{
	display: flex;
	flex-direction: row;
}
.platform li{
	background: #353535;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 15px;
	margin-right: 30px;
}
.two{
	margin-left: 80px;
}
.two img{
	width: 100px;
	margin-top: 40px;
	
}
.three{
	max-width: 600px;
	margin-left: 80px;

}
.three h1{
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 2px;
	font-family: 'GothamPro-Medium';
	max-width: 400px;
	color: #020102;
	font-weight: 500;
	margin-top: 0;
	display: block;
}
.three p:nth-child(4){
	margin-bottom: 80px;
}
.three p, .three a{
	font-size: 20px;
	font-family: 'Ubuntu';
	color: #4a4d4e;
	font-weight: 200;

}
.three a{
	color: #fff;
	background: #f3379d url(../img/up.png) no-repeat 345px 20px;
	border-bottom: 2px solid #b12873;
	padding: 15px 70px 15px 50px;
	text-decoration: none;
	border-radius: 3px;
	margin-top: 60px;
}
.three a:hover{
	opacity: 0.9;
}
.am{
	display: none;
}
.box2{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}
.box2 h1{
	padding-top: 60px;
}
.bg img{
	max-width: 900px;

}
.box2 h1{
	padding-top: 100px;
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 2px;
	font-family: 'GothamPro-Medium';
	color: #020102;
	font-weight: 500;
	margin-top: 0;
}
.box2 .phone{
	margin-top: 40px;
}
.box2 a{
	color: #fff;
	background: #f3379d url(../img/up.png) no-repeat 345px 20px;
	border-bottom: 2px solid #b12873;
	padding: 15px 50px 15px 50px;
	text-decoration: none;
	border-radius: 3px;
	margin-top: 60px;
	font-size: 20px;
	font-family: 'Ubuntu';
	display: block;
	text-align: center;
}
.box2 a:hover{
	opacity: 0.9;
}
.box2 .screen{
	background: none;
	border: 0;
}
.screen1{
	width: 220px;
	z-index: 9999;
	background: url(../img/screen2.png) no-repeat center center;
	width: 220px;
	height: 360px;
	border: 1px solid #dbdbdb;
}
.phone-block{
	margin-top: 50px;
	z-index: 99999;
}
.box3{
	width: 100%;
	background: #01b5e6;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 40px;
	color: #fff;
}
.box3 .content{
	width: 25%;
	padding-top: 70px;
}
.box3 h1{
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 2px;
	font-family: 'GothamPro-Medium';
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 30px;
}
.box3 p{
	font-size: 20px;
	font-family: 'Ubuntu';
	font-weight: 200;
	line-height: 30px;

}
.box3 a{
	color: #fff;
	font-size: 20px;
	align-self: flex-start;
	font-family: 'Ubuntu';
	font-weight: bold;
	margin-top: 30px;
}
.slider{
	display: flex;
	flex-direction: column;
}
.prez{
	color: #fff;
	background: #f3379d url(../img/up.png) no-repeat 345px 20px;
	border-bottom: 2px solid #b12873;
	padding: 15px 50px 15px 50px;
	text-decoration: none;
	border-radius: 3px;
	margin-top: 0;
	font-size: 20px;
	font-family: 'Ubuntu';
	display: block;
	text-align: center;
	margin-bottom: 30px;
}
.box3 .prez{
	margin-top: 0;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 30px;
}
